.menu {
  display: block;
  text-indent: -9999px;
}

.menu::before,
.menu::after,
.menu > .center {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #707070;
  margin-bottom: 5px;
}

.menu::after {
  margin-bottom: 0;
}
